{
  "parser": "babel-eslint",
  "parserOptions": {},
  "extends": ["plugin:jest/recommended", "airbnb", "prettier"],
  "plugins": ["jest", "prettier"],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules"],
        "paths": ["node_modules"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "no-dupe-keys": "error", // approved
    /* https://eslint.org/docs/rules/valid-jsdoc */
    "valid-jsdoc": ["error"], // approved,
    // https://eslint.org/docs/rules/newline-after-var
    /* https://eslint.org/docs/rules/eol-last */
    "eol-last": ["error", "always"], // approved
    // https://eslint.org/docs/rules/padding-line-between-statements
    "padding-line-between-statements": [
      "error",
      // Always require blank lines after directive (like "use-strict"), except between directives
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "any", "prev": "directive", "next": "directive" },
      // Always require blank lines after import, except between imports
      { "blankLine": "always", "prev": "import", "next": "*" },
      { "blankLine": "any", "prev": "import", "next": "import" },
      // Always require blank lines before and after every sequence of variable declarations and export
      { "blankLine": "always", "prev": "*", "next": ["const", "let", "var", "export"] },
      { "blankLine": "always", "prev": ["const", "let", "var", "export"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var", "export"],
        "next": ["const", "let", "var", "export"]
      },
      // Always require blank lines before and after class declaration, if, do/while, switch, try
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["if", "class", "for", "do", "while", "switch", "try"]
      },
      {
        "blankLine": "always",
        "prev": ["if", "class", "for", "do", "while", "switch", "try"],
        "next": "*"
      },
      // Always require blank lines before return statements
      { "blankLine": "always", "prev": "*", "next": "return" }
    ], // approved
    "prettier/prettier": "error", // approved
    "no-underscore-dangle": "off", // approved
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }], // approved
    "jest/no-mocks-import": "off" // approved
  }
}
